absl-py==0.10.0
affine==2.3.0
amply==0.1.4
anndata==0.7.6
appdirs==1.4.4
argon2-cffi==20.1.0
asciitree==0.3.3
astunparse==1.6.3
async-generator==1.10
attrs==20.3.0
backcall==0.2.0
bardensr==0.1
beautifulsoup4==4.9.3
bleach==3.3.0
boto3==1.17.53
botocore==1.20.53
cachetools==4.1.1
cellpose==0.1.0.1
certifi==2020.12.5
cffi==1.14.0
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.7.1
cloudpickle==1.6.0
community==1.0.0b1
conda==4.9.2
conda-build==3.21.4
conda-package-handling==1.7.0
ConfigArgParse==1.4
configparser==5.0.1
cryptocode==0.1
cryptography==2.9.2
cycler==0.10.0
dask==2021.5.0
datrie==0.8.2
decorator==4.4.2
deepblink==0.0.6
defusedxml==0.7.1
docker-pycreds==0.4.0
docrep==0.3.2
docutils==0.17
entrypoints==0.3
enum-tools==0.6.4
et-xmlfile==1.0.1
fastcluster==1.2.3
fasteners==0.16
filelock==3.0.12
Flask==1.1.2
fsspec==2021.5.0
gast==0.3.3
get-version==2.2
gitdb==4.0.5
GitPython==3.1.11
glob2==0.7
gmic==2.9.0
google-api-core==1.28.0
google-auth==1.21.3
google-auth-oauthlib==0.4.1
google-cloud-core==1.6.0
google-cloud-storage==1.38.0
google-crc32c==1.1.2
google-pasta==0.2.0
google-resumable-media==1.3.0
googleapis-common-protos==1.53.0
graphviz==0.8.4
grpcio==1.32.0
h5py==2.10.0
idna==2.9
igraph==0.1.11
imagecodecs==2021.1.11
imageio==2.9.0
imutils==0.5.4
inflect==5.3.0
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.0
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.1
jsonschema==3.2.0
jupyter-client==6.1.6
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
legacy-api-wrap==1.2
leidenalg==0.8.3
libarchive-c==2.9
llvmlite==0.34.0
locket==0.2.1
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.3.2
mistune==0.8.4
mxnet-mkl==1.6.0
natsort==7.0.1
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5
notebook==6.4.0
numba==0.51.2
numcodecs==0.7.3
numexpr==2.7.3
numpy==1.19.4
oauthlib==3.1.0
omnipath==1.0.4
opencv-python==4.4.0.46
opencv-python-headless==4.4.0.44
openpyxl==3.0.6
opt-einsum==3.3.0
packaging==20.9
pandas==1.2.4
pandocfilters==1.4.3
parso==0.8.0
partd==1.2.0
pathtools==0.1.2
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.1
pkginfo==1.7.0
plotly==5.1.0
prometheus-client==0.10.1
promise==2.3
prompt-toolkit==3.0.5
protobuf==3.13.0
psutil==5.8.0
ptyprocess==0.6.0
PuLP==2.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser==2.20
pycryptodomex==3.10.1
Pygments==2.6.1
pynndescent==0.5.2
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqtgraph==0.11.0rc0
pyrsistent==0.17.3
PySocks==1.7.1
python-dateutil==2.8.1
python-igraph==0.9.0
pytz==2021.1
pytzdata==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.1
rasterio==1.2.3
ratelimiter==1.2.0.post0
read-roi==1.6.0
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.6
ruamel-yaml==0.15.87
s3transfer==0.3.7
scanpy==1.7.2
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.4.1
seaborn==0.11.1
Send2Trash==1.5.0
sentry-sdk==0.19.2
shortuuid==1.0.1
sinfo==0.3.4
six==1.14.0
smart-open==5.0.0
smfishHmrf==1.3.3
smmap==3.0.4
snakemake==6.1.1
snuggs==1.4.7
soupsieve==2.2
squidpy==1.0.0
statsmodels==0.12.2
stdlib-list==0.8.0
subprocess32==3.5.4
tables==3.6.1
tenacity==7.0.0
tensorboard==2.2.2
tensorboard-plugin-wit==1.7.0
tensorflow==2.2.0
tensorflow-estimator==2.2.0
termcolor==1.1.0
terminado==0.10.0
testpath==0.5.0
texttable==1.6.3
threadpoolctl==2.1.0
tifffile==2021.4.8
toolz==0.11.1
toposort==1.6
tornado==6.0.4
tqdm==4.61.0
traitlets==4.3.3
typing-extensions==3.10.0.0
umap-learn==0.5.1
urllib3==1.26.5
wandb==0.10.10
watchdog==0.10.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xarray==0.18.2
xlrd==1.2.0
yum==0.0.1
zarr==2.8.3
